---
import Link from "@/components/Link.component.astro";
import { Icon } from "astro-icon";
---

<footer class="bg-[#e9edc9]">
	<div class="max-w-7xl mx-auto py-8 px-6">
		<div
			class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 items-center justify-between mb-10"
		>
			<div class="text-3xl flex">
				<div class="w-[60px]">
					<Icon name="mdi:slack" />
				</div>
				<span class="ml-2 font-bold my-auto">Industry Name</span>
			</div>
			<div
				class="flex justify-start sm:justify-start md:justify-end mt-5 sm:mt-5"
			>
				<a
					href="#"
					class="media-icon bg-blue-600 hover:bg-white hover:text-blue-600"
				>
					<Icon name="mdi:facebook" />
				</a>
				<a
					href="#"
					class="media-icon bg-blue-400 hover:bg-white hover:text-blue-400 p-2"
				>
					<Icon name="mdi:twitter" />
				</a>
				<a
					href="#"
					class="media-icon bg-pink-500 hover:bg-white hover:text-pink-500 p-2"
				>
					<Icon name="mdi:instagram" />
				</a>
				<a
					href="#"
					class="media-icon bg-blue-700 hover:bg-white hover:text-blue-700 p-2"
				>
					<Icon name="mdi:linkedin" />
				</a>
				<a
					href="#"
					class="media-icon bg-red-500 hover:bg-white hover:text-red-500 p-2"
				>
					<Icon name="mdi:youtube" />
				</a>
			</div>
		</div>
		<div
			class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-6"
		>
			<ul class="footer-links">
				<li class="font-semibold mb-2 text-2xl">COMPANY</li>
				<li>
					<Link href="/" tClass="text-[#264653]">Home</Link>
				</li>
				<li>
					<Link href="/contact" tClass="text-[#264653]">
						Contact us
					</Link>
				</li>
				<li>
					<Link href="/about" tClass="text-[#264653]">About us</Link>
				</li>
				<li>
					<Link href="#" tClass="text-[#264653]">Get started</Link>
				</li>
			</ul>
			<ul class="footer-links">
				<li class="font-semibold mb-2 text-2xl">SERVICES</li>
				<li>
					<Link href="#" class="text-[#264653]">App design</Link>
				</li>
				<li>
					<Link href="#" class="text-[#264653]">Web design</Link>
				</li>
				<li>
					<Link href="#" class="text-[#264653]">Logo design</Link>
				</li>
				<li>
					<Link href="#" class="text-[#264653]">Banner design</Link>
				</li>
			</ul>
			<ul class="footer-links">
				<li class="font-semibold mb-2 text-2xl">ACCOUNT</li>
				<li>
					<Link href="#" class="text-[#264653]">Profile</Link>
				</li>
				<li>
					<Link href="#" class="text-[#264653]">My account</Link>
				</li>
				<li>
					<Link href="#" class="text-[#264653]">Preferences</Link>
				</li>
				<li>
					<Link href="#" class="text-[#264653]">Purchase</Link>
				</li>
			</ul>
			<ul class="footer-links">
				<li class="font-semibold mb-2 text-2xl">COURSES</li>
				<li>
					<Link href="#" class="text-[#264653]">HTML & CSS</Link>
				</li>
				<li>
					<Link href="#" class="text-[#264653]">JavaScript</Link>
				</li>
				<li>
					<Link href="#" class="text-[#264653]">Photography</Link>
				</li>
				<li>
					<Link href="#" class="text-[#264653]">Photoshop</Link>
				</li>
			</ul>
			<ul
				class="footer-links min-w-[300px] sm:min-w-[500px] lg:min-w-[0]"
			>
				<li class="font-semibold mb-2">Subscribe To Our Newsletter</li>
				<li>
					<input
						type="text"
						placeholder="Enter your email"
						class="w-full px-4 py-2 rounded bg-[#adb594] border-2 border-[#787d68] placeholder-[#787d68] text-base focus:outline-none focus:shadow-[0_0_0_1px_black]"
					/>
				</li>
				<li>
					<input
						type="button"
						value="Subscribe"
						class="bg-white text-[#787d68] border-none px-4 py-2 mt-2 rounded font-semibold hover:opacity-90 transition-all"
					/>
				</li>
			</ul>
		</div>
	</div>
	<div class="bg-[#ccd5ae]">
		<div class="max-w-7xl mx-auto py-4 px-6 flex justify-between">
			<span class="text-sm font-light opacity-80">
				&copy; 2021 <a href="/" class="hover:underline"
					>Industry Name.</a
				> All rights reserved
			</span>
			<span class="text-sm font-light opacity-80">
				<a href="/privacy" class="mr-2 hover:underline"
					>Privacy policy</a
				>
				<a href="/terms" class="hover:underline">Terms & conditions</a>
			</span>
		</div>
	</div>
</footer>

<style>
	.footer-links li:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: -2px;
		height: 2px;
		width: 35px;
		background: #fff;
	}
	.media-icon {
		height: 40px;
		width: 40px;
		margin: 0 4px;
		border-radius: 50%;
		text-align: center;
		line-height: 40px;
		color: #fff;
		font-size: 17px;
		text-decoration: none;
		transition: all 0.4s ease;
	}
</style>
